body{
    display: flex;
    justify-self: center;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}
.border{
    margin-top: 30%;
    width: 350px;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid #ccc;
    border-radius: 10%;

}
.border-1{
    border-color: #ff0000;
    width: 300px;
    height: 400px;
}
.border-2{
    width: 250px;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
}
img{
    width: 250px;
    height: 250px; 
}
.border-1 img{
    border-radius: 10%;
    margin: 20px auto;
    display: block;
}
.title{
    width: auto;
    height: auto;
    text-align: center;
    font-size: 19px;
}
.description{
    text-align: center;
    font-size: 14px;
    color: #bcb9b9;
}